.me {
    max-height: 125px;
    border-radius: 125px;
}
.intro {
    margin: auto;
    text-align: center;
    width: 50%;
    margin-bottom: 3%;
}
.intro h1 {
    font-size: 44px;
    font-weight: 400;
    color: white;
    text-shadow:
   -2px -2px 0 black,  
    2px -2px 0 black,
    -2px 2px 0 black,
     2px 2px 0 black;
}
.contact {
    margin: auto;
    text-align: center;
    width: 60%;
}
.contact h2 {
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-shadow:
   -2px -2px 0 black,  
    2px -2px 0 black,
    -2px 2px 0 black,
     2px 2px 0 black;
}