body {
    background-color: #F2F2F2;
    font-family: 'PT Sans', sans-serif;
}
.header {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headerLogo {
    cursor: pointer;
}
.headerCtrl {
    display: flex;
}
.headerCtrl button {
    border: none;
    background-color: #F2F2F2;
    cursor: pointer;
    padding: 0;
    margin: 10%;
}

