html {
    overflow-y: scroll;
}
body {
    background-image: url(../img/galaxy.jpg);
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}
.header {
    max-width: 1300px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
.logo {
    cursor: pointer;
    max-height: 75px;
}
.headerCtrl {
    display: flex;
}
.dropBtn {
    cursor: pointer;
    max-height: 40px;
}
.closeBtn {
    cursor: pointer;
    max-height: 30px;
}
#pageContent {
    animation: fadeIn 0.8s linear;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

